<form class="login" [formGroup]="form" (submit)="onSend()">
  <app-form-field
    class="field"
    [placeholder]="'Login'"
    [control]="form.get('username')"
  ></app-form-field>

  <app-form-field
    class="field"
    [placeholder]="'Name'"
    [control]="form.get('first_name')"
  ></app-form-field>

  <app-form-field
    class="field"
    [placeholder]="'Surname'"
    [control]="form.get('last_name')"
  ></app-form-field>

  <app-form-field
    class="field"
    [placeholder]="'Email'"
    [control]="form.get('email')"
  ></app-form-field>

  <div class="divider"></div>

  <app-form-field
    class="field"
    [placeholder]="'Password'"
    [control]="form.get('password')"
  ></app-form-field>

  <app-form-field
    class="field"
    [placeholder]="'Repeat password'"
    [control]="form.get('password_repeat')"
  ></app-form-field>

  <div class="divider"></div>

  <button mat-raised-button color="primary" type="submit">Create account</button>

  <div *ngIf="isLoading$ | async" class="spinner-absolute">
    <mat-spinner></mat-spinner>
  </div>
</form>
