<form class="login" [formGroup]="form" (submit)="onSend()">
  <div class="line">
    <a [href]="googleAuthLink">
      <button mat-raised-button type="button">Continue with Google</button>
    </a>
  </div>

  <div class="divider"></div>

  <app-form-field
    class="field"
    [placeholder]="'Login'"
    [control]="form.get('username')"
  ></app-form-field>

  <app-form-field
    class="field"
    [placeholder]="'Password'"
    [control]="form.get('password')"
  ></app-form-field>

  <div class="divider"></div>

  <button mat-raised-button color="primary" type="submit">Login</button>

  <div *ngIf="isLoading$ | async" class="spinner-absolute">
    <mat-spinner></mat-spinner>
  </div>
</form>
